.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4b4e50;
  text-align: center;
  height: 100vh;
}

.Title {
  margin: 0.8rem 0;
}

.Description {
  margin: 0;
}
